/* стили для страницы */
html{
    overflow-x: hidden;
    overflow-y: hidden;
}

.backgroundForm {
    background: linear-gradient(135deg, rgba(0, 136, 204, 0.5), rgba(194, 193, 193, 0.4));
    width: 100vw;
    height: 100vh;
}

.dataEntryForm {
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    font-family: 'Source Sans 3', sans-serif;
    border-radius:5px;
 }

.dataEntryField {
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    padding: 20px 30px 15px 30px;
    width: 250px;
    height: auto;
    border-radius:5px;
}

#formWrapBot {
    margin-bottom: 15px;
}

.titleDataEntryField {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.inputDataEntryField {
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    border-color: #6d6c6c2a;
    border-width: 0.5px;
    outline: rgba(128, 128, 128, 0.644);
    height: 25px;
    border-radius:3px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textFeedback {
    font-size: 12px;
    padding-top: 10px
    
}

.feedback {
    font-size: 15px;
    margin-top: 5px;
    width: 250px;
    border-color: #6d6c6c2a;
    border-width: 0.5px;
    outline: rgba(128, 128, 128, 0.6);
    height: 90px;
    position:relative;
    z-index:2;
}

.imgTelegramFeedback {
    width: 350px;
    height: 100%;
    margin-left: 15px;
    border-radius:5px;
    z-index: 0;
    max-height: 800px;
}

.textRadioFeedback {
    font-size: 15px;
    padding-top: 5px;
}

.ratingBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hideFeedbackForm {
    visibility: hidden;
    opacity: 0;
}

#hideFeedbackForm.open {
    opacity: 0;
    transition: 1.0s;
    visibility: visible;
}

textarea:focus, input:focus {
    border-color: rgba(128, 128, 128, 0.199);
    background-color: rgba(128, 128, 128, 0.05);
}

input[type="range"] {
    accent-color: rgb(221, 205, 241);
  }

input[type=submit] {
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 15px auto;
    font-size: 15px;
    border: 0;
    border-radius:5px;
}
      
input[type=submit]:not(.active) {
    background-color: #0088cc
}
      
input[type=submit]:not(.active):hover
/* input[type=submit]:not(.active):focus */ {
    transition: color 200ms linear;
    color: #000000;
}

input[type=submit]:not(:hover) {
    transition: 0s;
}

.ratingArea {
	overflow: hidden;
}
.ratingArea:not(:checked) > input {
	display: none;
}
.ratingArea:not(:checked) > label {
	float: right;
	width: 20px;
	cursor: pointer;
	font-size: 20px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.ratingArea:not(:checked) > label:before {
	content: '★';
}
.ratingArea > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.ratingArea:not(:checked) > label:hover,
.ratingArea:not(:checked) > label:hover ~ label {
	color: gold;
}
.ratingArea > input:checked + label:hover,
.ratingArea > input:checked + label:hover ~ label,
.ratingArea > input:checked ~ label:hover,
.ratingArea > input:checked ~ label:hover ~ label,
.ratingArea > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}